.Wrapper-Cart {
    padding: 20px;
}

.Title-Cart {
    font-weight: 300;
    text-align: center;
}

.Top-Cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.TopButton-Cart {
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.TopText-Cart {
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.Bottom-Cart {
    display: flex;
    justify-content: space-between;
}

.Info-Cart {
    flex: 3;
}

.Product-Cart {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    margin: 0 20px 20px 20px;
    border-radius: 5px;
    border: solid #ccc 1px;
    
}

.ProductDetail-Cart {
    flex: 2;
    display: flex;
}

.Image-Cart {
    width: 200px;
    height: 210px;
    border-radius: 5px;
}

.Details-Cart {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.ProductColor-Cart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.PriceDetail-Cart {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProductAmountContainer-Cart {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ProductAmountContainer-Cart .icon{
    border: 1px solid #ccc;
    cursor: pointer;
}

.ProductAmountContainer-Cart .icon:hover{
    background-color: #f7f4f4;
}

.ProductAmount-Cart {
    font-size: 24px;
    margin: 5px;
}

.ProductPrice-Remove{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProductPrice-Cart {
    font-size: 30px;
    font-weight: 200;
}

.ProductPrice-Remove .remove-icon{
    margin-left: 50px;
    color: red;
    cursor: pointer;
    /* I add this, because I want tha the item was aline */
    margin-top: 7px; 
}

.Hr-Cart {
    background-color: #eee;
    border: none;
    height: 1px;
}

.Summary-Cart {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    /* this was not before */
    height: 40vh;
    
}

.SummaryTitle-Cart {
    font-weight: 200;
}

.SummaryItem-Cart {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.Button-Cart {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn-compra{
    border: none;
    width: 100%;
    padding: 10px;
    background-color: teal;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.btn-compra:hover{
    background-color: rgb(6, 160, 160);

}