.Container-UpdateUser {
    width: 100vw;
    height: 89.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fafd;
}

.Wrapper-UpdateUser {
    width: 40%;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.UpdateUser-top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Title-UpdateUser {
    font-size: 24px;
    font-weight: 300;
}

.Form-UpdateUser {
    display: flex;
    flex-wrap: wrap;
}

.Input_Register {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
    border: 1px solid #ccc;
}

.Password-UpdateUser {
    margin-top: 20px;
    color: red;
}

.Agreement-UpdateUser {
    font-size: 12px;
    margin: 20px 0px;
}

.btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Button-UpdateUser {
    margin-top: 20px;
    width: 40%;
    border: none;
    padding: 10px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}